{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'emergencia.css' %}">
    <title>Emergencias | R.R.E.M</title>
</head>
<body>
    <header>
        <h1> R.R.E.M </h1>
        {% if user.is_authenticated %}
            <h3>Usuario: {{user.username}}</h3>
        {% endif %}
    </header>

    <section id="full">
        <div id="izq">
            <form action="{% url 'home' %}">
                <button id="Bnav">Inicio</button>
            </form>
            <form action="{% url 'horario' %}">
                <button id="Bnav">Horario</button>
            </form>
            <button id="Bnavo">Emergencias</button>
            <form action="">
                <button id="Bnav">Contacto</button>
            </form>
            
            <div id="logout">
                <form action="{% url 'logout' %}">
                    <button id="blogout">Salir</button>
                </form>
            </div>
        </div>
        <div id="dere">
            <h2>Envio de Emergencias</h2>
            <div id="contenidoE">
                <form id="contenidoE" action="{% url 'enviar_emergencia' %}" method="POST">

                    {% if r2 %}
                        <div>
                            <h4>{{ r2 }}</h4>
                        </div>
                    {% endif %}

                    {% if r %}
                        <div>
                            <h4>{{ r }}</h4>
                        </div>
                    {% endif %}

                    {% csrf_token %}
                    <input id="Npaciente" name="Npaciente" type="number" placeholder="Numero de Pacientes">
                    <textarea id="Context" name="Context" cols="40" rows="10" placeholder="Contexto de la Emergencia"></textarea>
                    <button type="submit" id="BE">Enviar Emergencia</button>
                </form>
            </div>
        </div>   
    </section>

    <footer>
        <p>&copy; 2023 Hospital R.R.E.M. Todos los derechos reservados.</p>
    </footer>
        
</body>
</html>