{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Home | R.R.E.M</title>
</head>
<body>
    <header>
        <h1> R.R.E.M </h1>
    </header>

    <section id="full">
        <div id="izq">
            <button id="Bnavo">Inicio</button>
            <form action="{% url 'horario' %}">
                <button id="Bnav">Horario</button>
            </form>
            <form action="{% url 'emergencia' %}">
                <button id="Bnav">Emergencias</button>
            </form>
            <form action="">
                <button id="Bnav">Contacto</button>
            </form>
            <div id="logout">
                <form action="{% url 'login' %}">
                    <button id="blogout">Salir</button>
                </form>   
            </div>
        </div>
        <div id="dere">
            <h2>Emergencias Activas</h2>
            <div id="contenidoE">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan Pérez</td>
                            <td>25</td>
                            <td>Madrid</td>
                            <td><button id="Bsi">SI</button></td>
                            <td><button id="Bno">NO</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
    </section>

    <footer>
        <p>&copy; 2023 Hospital R.R.E.M. Todos los derechos reservados.</p>
    </footer>
        
</body>
</html>