{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Login | R.R.E.M</title>
</head>
<body>
    <section id="full">
        <div class="izquierda">
            <div class="derecha">
                <form id="login" action="" method="post">
                {% csrf_token %}
                <h1>R.R.E.M</h1>
                <h2>Inicio de Sesion</h2>
                <input id="usuario" type="text" placeholder="Usuario">
                <input id="contrasena" type="password" placeholder="Contraseña">
                <button>Iniciar Sesion</button>
                <button>Registrarse</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>