{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
    <title>Registro | R.R.E.M</title>
</head>
<body>
    <section id="full">
        <div class="izquierda">
            <div class="derecha">
                <form id="login" method="POST">
                    {% csrf_token %}
                    <h1>R.R.E.M</h1>
                    <h2>Registro</h2>
                    <input id="username" name="username" type="text" placeholder="Usuario">
                    <input id="first_name" name="first_name" type="text" placeholder="Nombre">
                    <input id="last_name" name="last_name" type="text" placeholder="Apellido">
                    <input id="email" name="email" type="text" placeholder="Correo">
                    <input id="password1" name="password1" type="password" placeholder="Contraseña">
                    <input id="password2" name="password2" type="password" placeholder="Confirma Contraseña">
                    <button type="submit">Registrarse</button>
                </form>
                <form id="register" action="{% url 'login' %}">
                <button>Volver Atrás</button>
            </form>
            </div>
            
        </div>
    </section>
</body>
</html>